<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iworkcloud.mapper.ActivityMapper">


    <insert id="insertActivity" parameterType="com.iworkcloud.pojo.Activity">
        insert into activity(time, title, content, tag)
            values (#{time},#{title},#{content},#{tag})
    </insert>

    <select id="queryActivitiesByDateAndTag" parameterType="HashMap" resultType="com.iworkcloud.pojo.Activity">
        select * from activity where ADDDATE(CURDATE(), INTERVAL #{days} DAY) >= date(time) and tag = #{tag}
    </select>

    <update id="updateActivityById" parameterType="HashMap">
        update activity set time = #{time}, title = #{title},content = #{content},
                            tag = #{tag} where id = #{id}
    </update>
    <select id="queryActivityByTag" resultType="com.iworkcloud.pojo.Activity" parameterType="String">
        select * from activity where tag = #{tag}
    </select>
    <delete id="deleteActivityById" parameterType="long">
        delete from activity where id = #{id}
    </delete>


</mapper>