<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iworkcloud.mapper.AttendanceMapper">


    <insert id="insertAttendance" parameterType="com.iworkcloud.pojo.Attendance">
        insert into attendance (ID,STAFF,DATE) values (#{id},#{staff},#{date})
    </insert>

    <select id="queryAttendanceById" parameterType="int" resultType="com.iworkcloud.pojo.Attendance">
        select * from attendance where id = #{id}
    </select>

    <select id="queryAttendancesByDate" parameterType="java.util.Date" resultType="com.iworkcloud.pojo.Attendance">
        select * from attendance where date = #{date}
    </select>

</mapper>