<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iworkcloud.mapper.AttendanceMapper">



    <insert id="insertAttendance" parameterType="com.iworkcloud.pojo.Attendance">
        insert into attendance (name,staff,time) values (#{name} ,#{staff},#{time})
    </insert>

    <select id="queryAttendanceToday" parameterType="String" resultType="com.iworkcloud.pojo.Attendance">
        select * from attendance where date(time) = curdate() and staff = #{staffId}
    </select>

    <select id="queryAllAttendanceToday" resultType="com.iworkcloud.pojo.Attendance">
        select * from attendance where date(time) = curdate()
    </select>

    <select id="getAttendanceMonth" parameterType="String" resultType="com.iworkcloud.pojo.Attendance">
        select * from attendance where month(time) = month(now())
    </select>






</mapper>