<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iworkcloud.mapper.AttendanceMapper">



    <insert id="insertAttendance" parameterType="com.iworkcloud.pojo.Attendance">
        insert into attendance (STAFF,DATE) values (#{staff},#{date})
    </insert>

    <select id="queryAttendanceByStaff" parameterType="String" resultType="com.iworkcloud.pojo.Attendance">
        select * from attendance where DATE_FORMAT(date,'%Y%m') = DATE_FORMAT(CURDATE(),'%Y%m') and staff = #{staffId}
    </select>

    <select id="queryAttendancesByDate" parameterType="java.util.Date" resultType="com.iworkcloud.pojo.Attendance">
        select * from attendance where date = #{date}
    </select>





</mapper>