<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iworkcloud.mapper.BillMapper">


    <insert id="insertBill" parameterType="com.iworkcloud.pojo.Bill">
        insert into bill (ID,TIME,MOUNT,TAG,DETAILS) values (#{id},#{time},#{mount},#{tag},#{details})
    </insert>

    <update id="updateBillContent" parameterType="HashMap">
        update bill set time = #{time}, mount = #{mount}, tag = #{tag}, details = #{details} where id = #{id}
    </update>

    <select id="queryBillById" parameterType="int" resultType="com.iworkcloud.pojo.Bill">
        select * from bill where id = #{id}
    </select>

    <select id="queryBillsByTag" parameterType="String" resultType="Double">
        select sum(bill.mount) from bill
        where tag = #{tag}
    </select>

    <select id="queryBillNumOrderByMonth" parameterType="String" resultType="double">
        select sum(bill.mount) from bill
        where tag = #{tag}
        group by (date_format(time,'%m'))
        order by (date_format(time,'%m'))
    </select>
    <select id="queryBillsByDetail" resultType="java.lang.Double" parameterType="String">
        select sum(bill.mount) from bill
        where tag = #{detail}
    </select>


</mapper>