<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iworkcloud.mapper.BillMapper">


    <insert id="insertBill" parameterType="com.iworkcloud.pojo.Bill">
        insert into bill (TIME,MOUNT,TAG,DETAILS) values (#{time},#{mount},#{tag},#{details})
    </insert>

    <update id="updateBillContent" parameterType="HashMap">
        update bill set mount = #{mount}, details = #{details} where id = #{id}
    </update>

    <select id="queryBillById" parameterType="int" resultType="com.iworkcloud.pojo.Bill">
        select * from bill where id = #{id}
    </select>

    <select id="queryBillsByTag" parameterType="String" resultType="com.iworkcloud.pojo.Bill">
        select * from bill where tag = #{tag}
    </select>

    <delete id="deleteBillById" parameterType="int">
        delete * from bill where id = #{id}
    </delete>


</mapper>