<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iworkcloud.mapper.BonusMapper">


    <insert id="insertBonus" parameterType="com.iworkcloud.pojo.Bonus">
        insert into bonus (staff, BONUS, SUBSIDY, time) VALUES (#{staff} ,#{bonus} ,#{subsidy} ,#{time} )
    </insert>


    <select id="queryAllBonus" resultType="com.iworkcloud.pojo.Bonus">
        select * from bonus
    </select>

    <delete id="deleteBonusById" parameterType="int">
        delete * from bonus where ID = #{id}
    </delete>

    <update id="updateBonusContent" parameterType="HashMap">
        update bonus set BONUS=#{bonus}, SUBSIDY=#{subsidy} where ID = #{id}
    </update>

</mapper>