<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iworkcloud.mapper.BonusMapper">

    <resultMap id="monthBonus" type="com.iworkcloud.pojo.Bonus">
        <id column="time" property="time"/>
        <result column="mount" property="mount"/>
        <result column="tag" property="tag"/>
    </resultMap>


    <insert id="insertBonus" parameterType="com.iworkcloud.pojo.Bonus">
        insert into bonus (id, staff, mount, tag, time) VALUES (#{id}, #{staff} ,#{mount} ,#{tag} ,#{time})
    </insert>


    <select id="queryAllBonus" parameterType="String" resultType="com.iworkcloud.pojo.Bonus">
        select * from bonus where staff = #{staffId}
    </select>


    <update id="updateBonusContent" parameterType="com.iworkcloud.pojo.Bonus">
        update bonus set staff=#{staff}, mount=#{mount},tag = #{tag},time = #{time} where ID = #{id}
    </update>

    <select id="queryBonusNumOrderByMonth" parameterType="String" resultType="java.lang.Double">
        select sum(mount)
        from bonus
        where tag = #{tag} and year(time)=year(now());
    </select>


</mapper>