<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iworkcloud.mapper.OutMapper">

    <insert id="insertOut" parameterType="com.iworkcloud.pojo.Out">
        insert into `out` (staff, date_start, date_end) VALUES (#{staff} ,#{dateStart} ,#{dateEnd} )
    </insert>

    <select id="queryOutByTime" parameterType="java.sql.Timestamp" resultType="com.iworkcloud.pojo.Out">
        select * from `out` where #{time} > date_start and date_end > #{time}
    </select>

    <select id="queryOutToday" resultType="com.iworkcloud.pojo.Out">
        select * from `out` where date(date_start) = CURDATE();
    </select>
</mapper>