<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iworkcloud.mapper.ProjectMapper">


    <insert id="insertProject" parameterType="com.iworkcloud.pojo.Project">
        insert into project (id, name, tag, approved) VALUES (#{id} ,#{name} ,#{tag} ,#{approved} )
    </insert>

    <update id="updateProjectStatus" parameterType="HashMap">
        update project set approved = #{approved}  where id = #{projectId}
    </update>

    <select id="queryProjectById" parameterType="String" resultType="com.iworkcloud.pojo.Project">
        select * from project where id = #{id}
    </select>
    <select id="queryAllProject" resultType="com.iworkcloud.pojo.Project">
        select * from project
    </select>
    <delete id="deleteProject" parameterType="java.lang.String">
        delete from project where id = #{projectId}
    </delete>


</mapper>