<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iworkcloud.mapper.ScheduleMapper">

    <insert id="insertSchedule" parameterType="com.iworkcloud.pojo.Schedule">
        insert into schedule (staff, time, content) VALUES (#{staff} ,#{time} ,#{content} )
    </insert>

    <delete id="deleteScheduleByStaffId" parameterType="String">
        delete * from schedule where staff = #{staffId}
    </delete>

    <update id="updateScheduleContent" parameterType="HashMap">
        update schedule set time = #{time}, content = #{content} where staff = #{staff}
    </update>

    <select id="queryScheduleByDays" resultType="com.iworkcloud.pojo.Schedule">
        select * from schedule where date(time) between date(now()) and  (date (now()) + #{days} ) and staff = #{staffId}
    </select>
    <delete id="deleteSchedule">
        delete from schedule where id = #{id}
    </delete>


</mapper>