<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iworkcloud.mapper.StaffMapper">

    <insert id="insertStaff" parameterType="com.iworkcloud.pojo.Staff">
        insert into staff (id, NAME,TEAM,SEX,PHONE,department) values(#{id} ,#{name},#{team},#{sex},#{phone},#{department} )
    </insert>

    <select id="queryStaffByPhone" resultType="com.iworkcloud.pojo.Staff" parameterType="String">
        select * from staff where phone = #{phone}
    </select>

    <update id="updatePhoneById" parameterType="HashMap">
        update staff set phone = #{phone} where id = #{id}
    </update>

    <update id="updateAllById" parameterType="com.iworkcloud.pojo.Staff">
        update staff set name = #{name}, team = #{team}, sex = #{sex}, department = #{department}, phone=#{phone} where id=#{id}
    </update>

    <select id="queryStaffById" parameterType="String" resultType="com.iworkcloud.pojo.Staff">
        select * from staff where id = #{id};
    </select>
    <select id="queryAllStaff" resultType="com.iworkcloud.pojo.Staff">
        select * from staff
    </select>


    <delete id="deleteStaff" parameterType="String">
        delete from staff where id = #{id}
    </delete>
    <select id="queryPhoneById" resultType="java.lang.String" parameterType="java.lang.String">
        select phone from staff where id = #{id}
    </select>
    <select id="queryStaffNum" resultType="int">
        select count(*) from staff
    </select>

</mapper>