<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iworkcloud.mapper.TeamMapper">

    <insert id="insertTeam" parameterType="com.iworkcloud.pojo.Team">
        insert into team (id, name, manager, project) VALUES (#{id} ,#{name} ,#{manager} ,#{project} )
    </insert>



    <update id="updateTeamProject" parameterType="HashMap">
        update team set project = #{project} where id = #{id}
    </update>
    <update id="updateTeamForManager">
        update team set manager = #{managerId} where id = #{id}
    </update>
</mapper>